$brand-color:         #d6d6d6;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #494949;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         300px;
$on-tablet:           400px;
$on-laptop:           400px;
$on-desktop:          400px;
